script(src="./plugin/jquery/jquery.min.js")
script(src="./plugin/OwlCarousel2-2.3.4/owl.carousel.min.js")
script(src="./plugin/jquery.nicescroll-3.7.5/jquery.nicescroll.min.js")
script(src="./plugin/wow/wow.js")
script(src="./js/app.js")
